Source: logster
Section: admin
Priority: extra
Maintainer: Tim Eggert <tim@elbart.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: https://github.com/elbart/logster
#Vcs-Git: git://git.debian.org/collab-maint/logster.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/logster.git;a=summary

Package: logster
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>=2.5), logtail, adduser, ganglia-monitor
Description: Ganglia logtail parser
 Ganglia logtail parser extendable via python
